@media (max-width: 1024px) {
  .adaptive-card__container {
    display: flex;
    flex-direction: column;
  }

  div.container {
    max-width: 846px;
  }

  .header__container {
    padding-top: 32px;
  }

  .main-nav__list {
    gap: 0;
  }

  .main-nav__item .button {
    display: none;
  }

  .main-section__title {
    width: 790px;
    line-height: 1.2;
  }

  .main-section__copy {
    width: 627px;
  }

  .main-section {
    background-position: bottom 160px left 202px;
    background-size: 923px;
  }

  .goals-section {
    display: none;
  }

  .target__container {
    display: flex;
    flex-direction: column;
    gap: 63px;
    padding-bottom: 65px;
  }

  .target__container .article__container {
    display: flex;
    flex-direction: column;
    gap: 113px;
  }
}

@media (min-width: 431px) {
  .footer-section {
    background-position: right 90% bottom 80%;
    background-size: 1375px;
  }

  .footer__container {
    padding-top: 24px;
    padding-bottom: 129px;
    align-items: flex-start;
    gap: 51px;
  }

  .footer__container .section__title {
    font-weight: 500;
    text-align: left;
  }

  .footer__container .button {
    width: 331px;
  }

  .target__container .section__title {
    width: 638px;
  }

  .accord-section {
    background-image: url(../images/shirtless-athletic-male.png);
    background-repeat: no-repeat;
    background-position: left bottom;
  }

  .accord-section .adaptive__container {
    display: flex;
    flex-direction: column;
    gap: 59px;
  }

  .accord-section .adaptive__container .card .card__header {
    margin-bottom: 103px;
  }

  .adaptive__container .card .card__header .card__image {
    display: none;
  }

  .adaptive__container .card .card__header {
    width: 130px;
    height: 120px;
    justify-content: center;
    background-image: url(../images/Ellipse\ 5.png),
      url(../images/Ellipse\ 5.png), url(../images/Ellipse\ 5.png);
    background-size: 170px;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .adaptive__container .adaptive__title {
    width: 844px;
    font-size: 48px;
    font-weight: 500;
  }

  .adaptive-card__image {
    display: block;
  }

  .adaptive__title {
    display: none;
  }

  .accord__container {
    display: none;
  }

  .accord__container .section__title {
    font-size: 48px;
    font-weight: 500;
    width: 881px;
  }

  .services-section {
    background-image: url(../images/woman-holding-weights-near-barbells.png);
    background-repeat: no-repeat;
    background-position: right bottom;
  }

  .collapse.navbar-collapse {
    display: flex !important;
  }

  .main-nav__list {
    max-width: 985px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    font-family: var(--secondary-font-family);
    font-weight: 500;
    font-size: 24px;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .main-section__title {
    padding-top: 170px;
    font-size: 64px;
  }

  .main-section__copy {
    margin-top: 0;
    margin-bottom: 151px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .main-section__copy:last-child {
    margin-bottom: 167px;
    margin-top: 31px;
  }

  .contact__container {
    gap: 56px;
  }

  .contact__item {
    gap: 13px;
  }

  .contact__descr {
    width: 191px;
    line-height: 1.2;
  }

  .article__container .adaptive__title {
    display: block;
  }

  .services-section .article__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 106px;
  }

  .adaptive-card__container {
    display: flex;
    flex-direction: column;
    gap: 189px;
  }

  .adaptive__container .card {
    width: 741px;
    flex-direction: row;
    box-shadow: none;
    gap: 71px;
    background-color: transparent;
    border: none;
    padding: 0;
  }

  .adaptive__container .card .card__body {
    width: 555px;
    gap: 11px;
  }

  .adaptive__container .card .card__body .card__copy {
    text-align: left;
    color: var(--blur-color);
  }

  .adaptive__container .card .card__body .card__title {
    text-align: left;
  }

  .adaptive__card {
    display: flex;
  }

  .adaptive__container .card .card__header {
    margin-bottom: 80px;
  }
}

@media (max-width: 430px) {
  .adaptive__card {
    display: none;
  }

  .adaptive-card__container {
    gap: 42px;
  }

  .accord-section .adaptive__container {
    display: none;
  }

  .adaptive-card__image {
    display: none;
  }

  .main-nav__item .button {
    display: block;
  }

  div.container {
    max-width: 308px;
  }

  .button {
    padding: 12px 10px;
  }

  .header__container {
    justify-content: space-between;
    padding-top: 36px;
  }

  .navbar-toggler {
    display: block;
    width: 36px;
    z-index: 1;
  }

  .main-section {
    background-image: url(../images/Ellipse\ 5.png);
    background-repeat: no-repeat;
    background-position: 10% center;
    background-size: cover;
  }

  .main-section__container {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  .main-section__title {
    width: 308px;
    font-size: 32px;
    padding-top: 106px;
  }

  .main-section__copy {
    width: 308px;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .main-section__copy:last-child {
    margin-bottom: 29px;
    text-align: center;
  }

  .button__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    margin-top: 24px;
  }

  .button__wrapper .button {
    width: 232px;
  }

  .contact__container {
    flex-direction: column;
    gap: 15px;
  }

  .article__container {
    flex-direction: column;
    gap: 42px;
    padding-top: 25px;
    padding-bottom: 62px;
  }

  .card {
    width: 300px;
  }

  .card__image {
    width: 62px;
  }

  .card__title {
    font-size: 20px;
  }

  .card__copy {
    font-size: 16px;
  }

  .goals-section {
    display: block;
    background-image: none;
  }

  .goals__container .cards__container {
    margin-top: 60px;
  }

  .cards__container {
    gap: 13px;
  }

  .card__container {
    flex-direction: column;
    align-items: center;
    gap: 21px;
  }

  .card__container .card {
    width: 300px;
    border-radius: var(--big-border-radius);
    padding: 24px 12px;
  }

  .big__card .card__title {
    line-height: 2;
  }

  .big__card .card__copy {
    line-height: 2;
    color: var(--blur-color);
  }

  .card__number {
    color: var(--blur-color);
    padding-top: 0;
  }

  .big__card {
    padding-bottom: 0;
  }

  .section__title {
    font-size: 32px;
    width: 339px;
    font-weight: 500;
    line-height: 1.2;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: unset;
  }

  .adaptive__title {
    display: none;
  }

  .accord__container .section__title {
    text-align: left;
  }

  .accordion {
    margin-top: 45px;
    gap: 28px;
  }

  button.accordion-button.collapsed {
    width: 341px;
    font-size: 20px;
    font-weight: 600;
  }

  .accordion-item:not(.collapsed) .accordion-button {
    font-size: 20px;
    font-weight: 600;
  }

  .accordion-item:not(.collapsed) .accordion-body {
    font-size: 14px;
    font-weight: 400;
  }

  button.accordion-button.collapsed::after {
    width: 42px;
    height: 42px;
    border-radius: 12px;
    border: 2px solid #7c0a32;
  }

  button.accordion-button:not(.collapsed)::after {
    width: 42px;
    height: 42px;
    border-radius: 12px;
  }

  .accordion-item {
    width: 341px;
  }

  .accordion-body {
    max-width: 297px;
  }

  .target__container {
    padding-top: 123px;
    padding-bottom: 0;
  }

  .target__container .article__container {
    gap: 57px;
  }

  .target__container > .article__container .card {
    padding: 54px 21px 37px 20px;
    line-height: 2.5;
  }
  .target__container > .article__container .card .card__body .card__copy {
    line-height: 2.5;
  }

  .footer-section {
    background-image: none;
  }

  .footer__container {
    gap: 33px;
    padding-bottom: 33px;
  }
  .footer__container .section__title {
    width: 319px;
    text-align: left;
    font-size: 26px;
  }

  .button__container {
    flex-direction: column;
    gap: 36px;
  }

  .button__container .button {
    width: 331px;
  }
}

@media (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--background-color);
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 10px 10px;
    z-index: 1;
  }

  .navbar-collapse .main-nav__list .main-nav__item {
    padding-top: 20px;
  }
}

@media (min-width: 1025px) {
  .services-section {
    background-image: none;
  }

  .adaptive-card__container .card {
    width: 440px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    border-radius: var(--big-border-radius);
    box-shadow: var(--box-shadow);
    padding: 40px 20px;
  }

  .adaptive-card__container .card .card__body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
  }

  .adaptive-card__container .card .card__body .card__title {
    font-family: var(--primary-font-family);
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    margin-bottom: 0;
  }

  .adaptive-card__container .card .card__body .card__copy {
    font-family: var(--secondary-font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 0;
  }

  .accord-section .adaptive__container {
    display: none;
  }

  .adaptive__title {
    display: none !important;
  }

  .adaptive__card {
    display: none !important;
  }

  .adaptive-card__image {
    display: none !important;
  }

  .adaptive-card__container {
    display: flex;
    flex-direction: row;
    gap: 112px;
  }

  .adaptive__container .card {
    width: 440px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    border-radius: var(--big-border-radius);
    box-shadow: var(--box-shadow);
    padding: 40px 20px;
  }

  .adaptive__container .card .card__body {
    gap: 20px;
  }

  .adaptive__container .card .card__body .card__copy {
    text-align: center;
    color: var(--text-color);
  }

  .adaptive__container .card .card__body .card__title {
    text-align: center;
  }

  .adaptive__container .card .card__header {
    margin-bottom: 0;
  }

  .adaptive__container .card .card__header .card__image {
    display: block !important;
  }

  .adaptive__container .card .card__header {
    background-image: none;
  }

  .adaptive-card__image {
    display: none;
  }

  .target__container .section__title {
    width: 1190px;
  }

  .footer-section {
    background-position: right 120px bottom;
  }

  .footer__container {
    align-items: center;
    gap: 81px;
    padding-top: 134.5px;
    padding-bottom: 192px;
  }

  .accord__container {
    display: flex;
    margin-top: 80px;
  }

  .accord-section {
    background-image: none;
  }

  .contact__descr:last-child {
    width: 323px;
  }

  .slider__container .adaptive__title {
    display: block !important;
    margin-bottom: 80px;
  }
}
