.button {
  max-width: 331px;
  padding: 19px 59px 19px 60px;
  border: none;
  border-radius: var(--little-border-radius);
  background: var(--button-color);
  color: var(--text-color);
  font-family: var(--secondary-font-family);
  font-weight: 500;
  font-size: 20px;
}

button.button__dark {
  background: transparent;
  border-style: solid;
  border: 1px solid #f7084c;
}
