.navbar-toggler {
  display: none;
}

header {
  background-color: var(--background-color);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
  color: var(--text-color);
}

.logo {
  width: 146px;
}

.main-nav__link {
  color: var(--text-color);
  text-decoration: none;
}
